*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #5a5656;
  padding: 0 1rem 0 1rem;
  box-sizing: border-box; }

.heading-1 {
  display: inline-block;
  letter-spacing: 0.2rem;
  font-size: 3.5rem;
  padding: 10rem 0 5rem 0; }

.u-underscore {
  text-decoration: underline;
  text-decoration-color: #75b1bd; }

.u-text-center {
  text-align: center; }

.u-padding-header {
  padding-bottom: 1rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer;
  margin: 2rem 1rem; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-2px); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  background-color: #dcbfd1;
  color: #5a5656; }

.btn--light {
  background-color: rgba(220, 191, 209, 0.7);
  color: #5a5656; }

.projectItem {
  background-color: red; }
  .projectItem__image {
    width: 20vw; }

.footer {
  background-color: #75b1bd;
  height: 15vh;
  text-align: center; }
  .footer__ref:not(:last-child) {
    padding-right: 3rem; }
  .footer img {
    max-width: 5vw; }
    .footer img:hover {
      transform: translateY(-2px); }
    .footer img:active, .footer img:focus {
      transform: translateY(0px); }

.header {
  height: 95vh;
  background-image: url(../../images/header_background.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  z-index: -10; }
  .header__text {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center; }

.navi {
  background-color: white;
  height: 5rem;
  width: 100%;
  display: inline-block;
  position: sticky;
  top: 0;
  padding-left: 1rem;
  border-bottom: 1px solid #75b1bd;
  text-align: center;
  z-index: 20; }
  .navi__item {
    text-decoration: none;
    color: #5a5656; }
  .navi_element {
    display: inline-block;
    margin-top: 1rem; }
    .navi_element:not(:last-child) {
      margin-right: 2rem; }
    .navi_element:hover {
      transform: translateY(-2px); }
    .navi_element:active, .navi_element:focus {
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:last-child {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }

.section-about {
  margin-top: 10vh; }
  .section-about img {
    width: 20vw;
    border-radius: 50rem; }
