/*
0 - 600px-Phone
600 - 900px-Tablet portrait
900 - 1200px-Tablet landscape
[1200 - 1800]-normal styles apply
1800px + -Big desktop

$breakpoints:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #fff;
  color: #5a5656;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6; }

.heading-1 {
  display: inline-block;
  padding: 10rem 0 5rem 0;
  font-size: 3.5rem;
  letter-spacing: 0.2rem; }

.u-underscore {
  text-decoration: underline;
  text-decoration-color: rgba(200, 224, 228, 0.7); }

.u-text-center {
  text-align: center; }

.u-padding-header {
  padding-bottom: 1rem; }

.u-padding-header-top {
  padding-top: 1rem; }

.btn, .btn:link, .btn:visited {
  position: relative;
  display: inline-block;
  padding: 1rem 2rem;
  margin: 1rem 1rem;
  border: none;
  border-radius: 10rem;
  text-decoration: none;
  cursor: pointer; }
  .btn:hover, .btn:link:hover, .btn:visited:hover {
    transform: translateY(-2px); }
  .btn:active, .btn:focus, .btn:link:active, .btn:link:focus, .btn:visited:active, .btn:visited:focus {
    transform: translateY(0px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--dark {
  background-color: #dcbfd1;
  color: #5a5656; }

.btn--light {
  background-color: rgba(220, 191, 209, 0.5);
  color: #5a5656; }

.card {
  position: relative;
  height: 50vh;
  perspective: 150rem;
  -webkit-perspective: 150rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease; }
    .card__side__inside {
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%; }
    .card__side__image {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      max-width: 50%;
      max-height: 50%; }
    .card__side__description {
      font-size: 1.6rem; }
      .card__side__description a {
        height: 5rem;
        width: 5rem; }
      .card__side__description img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 80%; }
    .card__side--front {
      background-color: rgba(220, 191, 209, 0.5); }
    .card__side--back {
      background-color: rgba(200, 224, 228, 0.7);
      -webkit-transform: rotateY(180deg); }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(180deg); }
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0deg); }

.footer {
  position: relative;
  height: 15rem;
  text-align: center;
  background-color: rgba(200, 224, 228, 0.7); }
  .footer__links {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .footer__ref {
    text-decoration: none; }
    .footer__ref:not(:last-child) {
      padding-right: 2vw; }
  .footer img {
    max-width: 3rem; }
    .footer img:hover {
      transform: translateY(-2px); }
    .footer img:active, .footer img:focus {
      transform: translateY(0px); }
  .footer__copyright {
    font-size: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 37.5em) {
    .row {
      margin-bottom: 4rem; } }
  .row [class^="col-"] {
    float: left;
    text-align: center; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 37.5em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0; } }
    @media only screen and (max-width: 37.5em) {
      .row [class^="col-"] {
        margin-bottom: 4rem;
        width: 100% !important;
        padding: 0 1rem; } }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url(../images/header_background.jpg);
  background-size: cover;
  background-position: bottom; }
  .header__text {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 35%;
    text-align: center; }
    .header__text--main {
      font-size: 3rem;
      font-weight: 800; }
    .header__text--sub {
      font-size: 3rem;
      font-weight: 500; }

.navi {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 1.5rem;
  background-color: #fff;
  border-bottom: 0.5px solid #797b7e;
  text-align: center;
  z-index: 20; }
  .navi__item {
    color: #5a5656;
    text-decoration: none; }
  .navi_element {
    display: inline-block;
    margin-top: 1rem; }
    .navi_element:not(:last-child) {
      margin-right: 2rem; }
    .navi_element:hover {
      transform: translateY(-2px); }
    .navi_element:active, .navi_element:focus {
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem; }

.section-about {
  padding-bottom: 5rem; }
  .section-about img {
    max-width: 100%;
    border-radius: 50rem; }

.section-skils {
  background-color: rgba(200, 224, 228, 0.7);
  padding-bottom: 5rem; }

.section-projects {
  padding-bottom: 5rem; }
