//COLORS
//main
$color-primary: rgba(#c8e0e4, 0.7);
$color-secondary: rgba(#dcbfd1, 0.5);
$color-backgroung: #fff;

//text
$color-text-1: #5a5656;

//helpers
$color-white: #fff;
$color-grey: #797b7e;
$color-black: #000;

//grid
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-verticval: 8rem;
