//COLORS
//main
$color-primary: #75b1bd;
$color-secondary: #dcbfd1;
$color-backgroung: #fff;
$color-backgroung-card: #a2d4df;

//text
$color-text-1: #5a5656;

//helper
$color-white: #fff;
$color-grey: #797b7e;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 3rem;
$gutter-verticval: 8rem;
