//COLORS
//main
$color-primary: #75b1bd;
$color-secondary: #dcbfd1;

//text
$color-text-1: #5a5656;

//helper
$color-white: #fff;
$color-grey: #1d1b1b;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-horizontal: 5rem;
$gutter-verticval: 8rem;
