@import "./abstracts/mixins";
@import "./abstracts/variables";
@import "./abstracts/functions.scss";

@import "./base/animations";
@import "./base/base";
@import "./base/typography";
@import "./base/utylities";

@import "./components/button";
@import "./components/projectItem";

@import "./layout/footer";
@import "./layout/header";
@import "./layout/navi";
@import "./layout/grid";

@import "./pages/home";
