.footer {
  position: relative;
  height: 15vh;
  text-align: center;
  background-color: $color-primary;

  &__links {
    @include absCenter;
  }

  &__ref {
    text-decoration: none;

    &:not(:last-child) {
      padding-right: 2vw;
    }
  }

  img {
    max-width: 3rem;

    &:hover {
      transform: translateY(-2px);
    }

    &:active,
    &:focus {
      transform: translateY(0px);
    }
  }

  &__copyright {
    font-size: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
}
