.footer {
  background-color: rgba($color-primary, 0.5);
  height: 15vh;
  text-align: center;
  position: relative;

  &__links {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  &__ref {
    &:not(:last-child) {
      padding-right: 2vw;
    }
  }

  img {
    max-width: 3rem;
    &:hover {
      transform: translateY(-2px);
    }

    &:active,
    &:focus {
      transform: translateY(0px);
    }
  }
  &__copyright {
    font-size: 1rem;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    left: 50%;
  }
}
