.row {
  max-width: $grid-width;
  margin: 0 auto;
  margin-bottom: $gutter-verticval;

  @include clearfix;

  [class^="col-"] {
    float: left;
    text-align: center;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }
}
