.header {
  height: 95vh;
  background-image: url(../images/header_background.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;

  &__text {
    font-size: 3rem;
    font-weight: 500;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
