.navi {
  display: inline-block;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-bottom: 1.5rem;
  background-color: $color-white;
  border-bottom: 0.5px solid $color-grey;
  text-align: center;
  z-index: 20;

  &__item {
    color: $color-text-1;
    text-decoration: none;
  }

  &_element {
    display: inline-block;
    margin-top: 1rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active,
    &:focus {
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
      border-radius: 0.5rem;
    }
  }
}
