.navi {
  background-color: $color-white;
  height: 5rem;
  width: 100%;
  display: inline-block;
  position: sticky;
  top: 0;
  border-bottom: 0.5px solid $color-grey;
  text-align: center;
  z-index: 20;

  &__item {
    text-decoration: none;
    color: $color-text-1;
  }

  &_element {
    display: inline-block;
    margin-top: 1rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      transform: translateY(-2px);
    }

    &:active,
    &:focus {
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
    }
  }
}
