.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    padding: 1rem 2rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    cursor: pointer;
    margin: 1rem 1rem;

    &:hover {
      transform: translateY(-2px);
    }

    &:active,
    &:focus {
      transform: translateY(0px);
      box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    }
  }

  &--dark {
    background-color: rgba($color-secondary, 1.5);
    color: $color-text-1;
  }

  &--light {
    background-color: $color-secondary;
    color: $color-text-1;
  }
}
