.card {
  position: relative;
  height: 50vh;
  perspective: 150rem;
  -webkit-perspective: 150rem;

  &__side {
    position: absolute;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100%;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
    -webkit-backface-visibility: hidden;
    transition: all 0.5s ease;

    &__inside {
      width: 100%;
      @include absCenter;
    }

    &__image {
      @include absCenter;
      max-width: 50%;
      max-height: 50%;
    }

    &__description {
      font-size: 1.6rem;

      a {
        height: 5rem;
        width: 5rem;
      }
      img {
        @include absCenter;
        width: 80%;
      }
    }

    &--front {
      background-color: $color-secondary;
    }
    &--back {
      background-color: $color-primary;
      -webkit-transform: rotateY(180deg);
    }
  }
  &:hover &__side--front {
    -webkit-transform: rotateY(180deg);
  }

  &:hover &__side--back {
    -webkit-transform: rotateY(0deg);
  }
}
