.section-about {
  padding-bottom: 10rem;

  img {
    width: 20vw;
    border-radius: 50rem;
  }
}

.section-skils {
  background-color: $color-primary;
  padding-bottom: 10rem;
}

.section-projects {
  padding-bottom: 10rem;
}
