.section-about {
  padding-bottom: 5rem;

  img {
    max-width: 100%;
    border-radius: 50rem;
  }
}

.section-skils {
  background-color: $color-primary;
  padding-bottom: 5rem;
}

.section-projects {
  padding-bottom: 5rem;
}
